﻿
<div class="modal fade" id="singlePost" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="titleModal" class="modal-title">Review</h4>
                <input type="hidden" value="" id="postId"/>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" placeholder="Heading" class="form-control" id="headingModal" />
                            <label class="labels" for="headingModal">Heading</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" placeholder="Categories" class="form-control" id="categoryModal" />
                            <label class="labels" for="categoryModal">Categories</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="postModal"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" placeholder="Tags" class="form-control" id="tagModal"/>
                            <label class="labels" for="tagModal">Tags</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if (Request.IsAuthenticated && (User.IsInRole("SuperUser")))
                        {
                            <label class="radio-inline"><input type="radio" id="rad1" name="status" value="1">Draft</label>
                            <label class="radio-inline"><input type="radio" id="rad2" name="status" value="2">Review</label>
                            <label class="radio-inline"><input type="radio" id="rad3" name="status" value="3">Decline</label>
                            <label class="radio-inline"><input type="radio" id="rad4" name="status" value="4">Publish</label>
                        }
                        else if (Request.IsAuthenticated && (User.IsInRole("User")))
                        {
                            <label class="radio-inline"><input type="radio" id="rad1" name="status" value="1">Draft</label>
                            <label class="radio-inline"><input type="radio" id="rad2" name="status" value="2">Review</label>
                            @*<label class="radio-inline"><input type="radio" id="rad3" name="status" value="3">Declined</label>*@
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="notes" style="display: none;" placeholder="Notes..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitChanges" class="btn btn-primary" disabled>Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->