﻿@model int
@{
    ViewBag.Title = "Page";
}

<div id="page" class="col-md-12">
    <div id="page-pageId" class="page-pageId">
        <div class="page-header">
            @*<h1>Title</h1>*@
        </div>
        <div class="page-body">
            @*<p>If you can read this, then my API call failed.</p>*@
        </div>
    </div>
</div>

@section scripts{

    <script>
        var uri = '/api/staticpages/';

        $(document).ready(function () {
            getPage(@Model.ToString());
        });

        function getPage(id) {
            $.getJSON(uri + 'getpage/' + id).done(function (data) {
                $('#page').empty();

                $(createDiv(data)).appendTo($('#page'));
            });
        };

        function createDiv(page) {
            console.log(page);
            return '<div id="page-' + page.StaticPageId + '" class="page-' + page.StaticPageId + '">' +
                '<div class="page-header"><h1>' + page.StaticPageTitle + '</h1></div><div class="page-body">' +
                page.StaticPageContent + '</div></div></div>';
        };

    </script>
}