﻿
@{
    ViewBag.Title = "Admin_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
    <h2>Administrator Menu</h2>
</div>

<br/>

<div align="center">
    @Html.ActionLink("Manage Tags", "Index", "Tag", null, new {@class = "btn btn-primary btn-lg btn-block" })
    <br/>
    @Html.ActionLink("Manage Categories", "Index", "Category", null, new {@class = "btn btn-primary btn-lg btn-block" })
    <br/>
    @Html.ActionLink("Manage Users", "UserManagement", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })
    <br />
    @Html.ActionLink("Manage Posts", "PostManagement", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })  @*Just pointing to Default Manage Page, needs implementation.*@
    <br/>
    @Html.ActionLink("Manage Pages", "ManagePages", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })  @*Just pointing to Default Manage Page, needs implementation.*@
    <br/>
    @Html.ActionLink("Messages", "Index", "Message", null, new { @class = "btn btn-primary btn-lg btn-block" }) 
    <br />
    @Html.ActionLink("Back to Home Page", "Index", "Home", null, new {@class = "btn btn-danger btn-lg btn-block"})
    <br/>
</div>
