﻿@model MSRM.Capstone.Model.Response<List<MSRM.Capstone.Model.Tag>>

@{
    ViewBag.Title = "Tag_Manager";
}

<div align="center">
    <h1>Tag Management</h1>

    <h2>Current List of Tags</h2>
</div>

<div class="col-lg-6 col-lg-offset-3">
    <button type="button" id="btnAddTag" data-toggle="modal" data-target="#AddATagModal" class="btn btn-success btn-block">Add a Tag</button>
    @Html.Partial("_AddATagModal")
</div>

<br /><br />

<div>
    <table id="tags" class="table table-striped">
        <thead>
        <tr>
            <th>
                <h3 align="center">Tag Name</h3>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody align="center">

        </tbody>
    </table>
</div>

<br/>

<div class="col-lg-6 col-lg-offset-3">
    @Html.ActionLink("Return To Admin Page", "Index", "Admin", null, new {@class="btn btn-info btn-block"})
    <br/>
</div>


@section Scripts
{
    <script>
        var tagsController = '/api/Tags/';

        $(document).ready(function () {
            loadTags();
            $(document).on("click", ".btnDeleteTag", function(e) {
                e.preventDefault();
                var btn = $(this);

                $.ajax(tagsController + 'delete/' + btn.data("tagId"), {
                    method: "DELETE"
                    
                }).success(function(data) {
                    $(btn).parent().parent().remove();
                });
            });
        });

        function loadTags() {
            $.getJSON(tagsController + "get/")
                .done(function (data) {

                    $('#tags tbody tr').remove();

                    $.each(data, function (index, tag) {
                        $(createRow(tag)).appendTo($('#tags tbody'));
                    });
                });
        };

        function createRow(tag) {
            var tr = $("<tr></tr>");
            tr.append($("<td></td>").text(tag.Name))
            .append($("<td></td>")
                    .append($('<button class="btnDeleteTag btn btn-danger btn-xs"></button>').text("Delete").data('tagId', tag.TagId)));

            return tr;
        };

    </script> 
    <script src="~/Scripts/app/AddTag.js"></script>
}